[Desktop Entry]
Version=1.0
Name=QR Code Generator
GenericName=QR Code Generator
Comment=QR Code Generator to Generate url QR codes
Icon=/usr/share/icons/qr-code-generator.png
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;QR;